# Broker MQTT
MQTT_HOST=opensolutionsbr.ddns.net
MQTT_PORT=1883
MQTT_CLIENT_ID=cafe-tracker-backend
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=/IoT/SAACE/DADOSAPONTAMENTO

# Banco de dados
DB_CONNECTION_STRING=

# API
ASPNETCORE_URLS=http://localhost:5000
